@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Retroguard";
  src: url("/assets/fonts/Retroguard.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.login-title {
  font-family: "Retroguard" !important;
}
